


.container {
    padding: 5px;
    display:flex;
    height: 100vh;
}

.nav {
    width:10%;
}

header {
    height: 25px;
}

.main {
    width: 90%;
    display:flex;
    flex-direction: column;
}

.layout {
    display: flex;
    height: 100%;
}

.main_content {
    width: 80%;
    display: flex;
}

aside {
    
    width: 20%;
}

.left {
    width: 75%;
   display: flex;
   flex-direction: column;
}

.right {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.top {
    flex: 1;
}

.bottom {
    flex: 1;
}

.profile {
    flex: 1;
}

.img1 {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    display: block;
   margin-top: 10%;
   opacity:0.8;
    
}

.nav_top {
    height: 15vh;
}

.nav_center {
    height:75vh;
}

.nav_bottom {
    height: 9vh;
}

.material-symbols-outlined {
    height: 62px;
    margin-top: 11%;
    color: white;

}

.nav {
    background-color:rgb(9, 9, 23);
    padding: 5px;
    border-radius: 15px;
    background-image: linear-gradient(45deg, #7d0808, transparent);
}

