/* *>div{
    border: 0.2px solid red;
} */
.container{
    padding: 5px;
    display: flex;
    height: 100vh;
}

.nav{
    width: 10%;
}

.main{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.layout{
    display: flex;
    height: 100%;
    
}
.maincontent{
    width: 80%;
    display: flex;

}
aside{
    width: 20%;
}
.left{
    width: 75%;
    display: flex;
    flex-direction: column;
   

}
.right{
    width: 25%;
    display: flex;
    flex-direction:column ;
}
.profile{
    flex: 1;
}
.top{
    flex:1;
    display: flex;
    flex-direction:row ;
    border: 1px solid red;
    background-color: #4c4177;
background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
    border-radius:20px ;
}
.bottom{
    flex: 1;
}
/* .left1{
    
  height: 50%;
} */
.right1{
    width: 50%;
}
.left>*{
    border: 1px solid grey;
}
.left2{
    height: 50%;
}